#about h2{
    background-color: ;
}
#about p {
    background-color: aqua;
    color: black;
}
#me {
    border: 5px solid red;
    
}
#work{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
#work p{
    color: antiquewhite;
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px
}
#work h2{
    color: aquamarine;
    background-color: black;
}
body{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#contact{
    color: blue;
}
#h1{
    color: yellow;
}

